@charset "UTF-8";

/* 回答はここに書いてね */

.q3__content {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.q3__content th,
.q3__content td {
  border: 1px solid #dadada;
  padding: 10px 0;
}

.q3__content th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3__content td:not(:first-child) {
  font-size: 16px;
  line-height: 22px;
}

.q3__content__text tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3__content__text tr:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */
